<div class="page">
    <strong data-ng-hide="profileId == 1"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>
    <section class="panel panel-default" data-ng-show="profileId == 1">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Loan And Asset Details</strong> <span style="float:right; text-transform:capitalize "><b class="red" >*</b> Mandatory Fields</span> </div>
        <div class="panel-body">
            <div class="asset_loan_details col-md-12"
                 id="asset_loan_details"
                 >
                <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success">
                    <form class="form-horizontal ng-pristine ng-valid" autocomplete="off"
                          name="assetLoan" novalidate>
                        <fieldset > 

                            <div>


                                <!--<div ng-disabled="isDisabled">--> 
                                        
                                        <div class="form-group">
                            <div class="col-md-12 sourcingHead">
<!--                                <div class="col-md-4 no_padding"><b>Application ID</b> : {{sanctionedvobolst[0].applicationID}}</div>
                                <br>
                                <div class="col-md-4 no_padding"><b>Applicant Name</b> : {{sanctionedvobolst[0].fullName}}</div>
                                <br>
                                <br>-->
                                <table border="0" class="table-responsive col-md-12 no_padding">
                                    <tr>
                                        <td class="col-md-4 no_padding"><label>Application ID</label></td>
                                        <td class="col-md-8 no_padding"><label>: 16866</label></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 no_padding"><label>Applicant Name</label></td>
                                        <td class="col-md-8 no_padding"><label>: Shrikant Katakdhond</label></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 no_padding"><label>Applicant Id</label></td>
                                        <td class="col-md-8 no_padding"><label>: 1244</label></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                                        
                                <accordion-group heading="Asset Details" is-open="true" >
                                    
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.manufacturer.$error.required">
                                                 </span>Manufacturer
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="manufacturer" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetMake.$error.required">
                                                 </span>Asset Make
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetMake" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetModel.$error.required">
                                                 </span>Asset Model
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetModel" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetCost.$error.required">
                                                 </span>Asset Cost
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetCost" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.supplierId.$error.required">
                                                 </span>Supplier Id
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="supplierId" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.supplierName.$error.required">
                                                 </span>Supplier Name
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="supplierName" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.dsaId.$error.required">
                                                 </span>DSA Id
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaId" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.dsaName.$error.required">
                                                 </span>DSA Name
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaName" required>
                                        </div>
                                    </div>
                                    
                                    </accordion-group>
                                    
                                
                                <accordion-group heading="Loan Details" is-open="true" >
                                    
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.marginMoney.$error.required">
                                                 </span>Margin Money
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="marginMoney" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.processingFee.$error.required">
                                                 </span>Processing Fee
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="processingFee" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.ecsCharges.$error.required">
                                                 </span>ECS Charges
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="ecsCharges" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.docCharges.$error.required">
                                                 </span>Doc Charges
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="docCharges" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.stampDuty.$error.required">
                                                 </span>Stamp Duty
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="stampDuty" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.currentDate.$error.required">
                                                 </span>Current Date
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase" type="text" class="form-control" ng-disabled="true"
                                                   ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="currentDate" required>
                                        </div>
                                    </div>
                                    
                                    </accordion-group>
                                    <div>&nbsp;</div>
                                    
                                    <div class="form-group">

                                            <div class="col-sm-12 align_right">

                                                <button class="btn btn-primary btn-success" type="button" ng-click=""><i class="glyphicon glyphicon-ok"></i> Approve </button>
                                                &nbsp;
                                                <button class="btn btn-primary btn-danger" type="button" ng-click="">
                                                    <i class="glyphicon glyphicon-remove"></i> Reject
                                                </button>
                                                <!--                                   &nbsp;                                        <button class="btn btn-primary btn-info" ng-click="formReload()" type="button">
                                                                                            <i class="fa fa-times"></i> Clear                                    </button>-->
                                        </div>
                                    </div>
                                    
                                 
                                     </div>
                        </fieldset>
                    </form>
                </accordion>
                </div>
        </div>
    </section> 
</div>