
<div class="page-signin" data-ng-controller="login">
    <div class="signin-header">
        <div class="container text-left">
            <section class="logo">
                <a href="#/"><img src="images/assets/HeaderLogo.png" class="img-responsive" /></a>
            </section>
        </div>
    </div>
    <form id="formforlogin" autocomplete="off">
        <input id="usernameforlogin" type="hidden" name="usrnm" autocomplete="off"/>
        <input id="passwordforlogin" type="hidden" name="psswrd" autocomplete="off"/>
    </form>
    <div class="signin-body">
        <div class="container col-sm-12 signIn_container">
            <div class="form-container col-sm-6">

                <!--                            data-ng-submit="login()"-->
                <form class="form-horizontal"  data-ng-init="preloadLogin()" AUTOCOMPLETE = "off">
                    <fieldset>
<!--                        <div class="form-group">
                            <div class="col-sm-12 no_padding">

                                <span class="ui-select">
                                    <select style="width:100%" data-ng-model="selectentity" name="selectentity" required>
                                        <option ng-repeat="item in entityArr" ng-selected="{{selectentity == item.value}}" value="{{item.value}}">{{item.description}}</option>
                                    </select>
                                </span>
                            </div>
                        </div>-->


                        <div class="form-group">
                            <div class="input-group input-group-lg">

                                <span class="input-group-addon"> <span
                                        class="glyphicon glyphicon-user"></span>
                                </span> <input type="text" class="form-control" placeholder="username" value="20102881"
                                               data-ng-model="username" id="loginusername" required AUTOCOMPLETE = "off">
                            </div>
                        </div>
                        <input style="display:none">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <!-- <span class="errorLogin" ng-show="loginForm.selectentity.$error.required">*</span> -->
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span>
                                </span> 
                                <div style="display:none">
                                    <input type="password" id="dummypwd" name="password" value="XXXXX"/>
                                </div>
                                <input type="password" class="form-control" placeholder="password" id="loginpassword" data-ng-model="password" required AUTOCOMPLETE = "off" name="">
                                <script>
                                            var fieldd = document.getElementById("loginpassword");
                                            fieldd.setAttribute("name", Math.random());
                                            document.getElementById("dummypwd").value = Math.random();
                                </script>
                                <div style="display:none">
                                    <input type="password" id="" name="password" value="XXXXX"/>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <!-- <span class="errorLogin" ng-show="loginForm.selectentity.$error.required">*</span> -->
                                <span class="input-group-addon">
                                    <a href="javascript:;" title="change captcha text" onclick="document.getElementById('captcha_id').src = 'captcha.jpg?' + Math.random();  return false"><i style="color:#1a9ee5;" class="fa fa-refresh"></i></a>
                                </span>
                                <!-- <input type="text"  placeholder="Enter above text" data-ng-model="captcha" required AUTOCOMPLETE = "off"> -->
                                <span class="form-control" style="margin:0px; padding:3px 0px 0px 0px;">
                                    <img id="captcha_id" name="imgCaptcha" src="captcha.jpg"> 
                                </span>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <!-- <span class="errorLogin" ng-show="loginForm.selectentity.$error.required">*</span> -->
                                <span class="input-group-addon"> <span
                                        class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter above Captcha" data-ng-model="captcha" required AUTOCOMPLETE = "off">
                            </div>
                        </div>
                        <div class="form-group"></div>
                </form>
                <form>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block btn-circle" ng-click="login()">Log in</button>

                    </div>
                    
                    <div class="form-group">
                        <a class="active_link" href="#/pages/forgot">Forgot password</a>
                    </div>
                    
                    <div class="form-group"> 
                        <marquee onmouseover="this.stop();" onmouseout="this.start();"><f data-ng-repeat="item in notificationsArr" style="font-size: medium; color: blue;"><i class="fa fa-hand-o-right " aria-hidden="true"></i>{{" "+item+" . . . "}}</f></marquee>
                    </div>
                    <div class="form-group"> 
                        <h6 align="right">Best Viewed in Google Chrome latest version.</h6>
                        <h6 align="right" id="copyrightmsg"></h6>
                    </div>
                </form>

                </fieldset>

                <!-- <section>
                        <p class="text-center">
                                <a href="#/pages/forgot">Forgot your password?</a>
                        </p>
                        <p class="text-center text-muted text-small">
                                Don't have an account yet? <a href="#/pages/signup">Sign up</a>
                        </p>
                </section> -->
            </div>
            <!--			<div class="form-container col-sm-6 signIn_image">
                                            <img src="images/assets/puzzle.png" class="img-responsive" />		
                                    </div>-->
        </div>
    </div>
<!--    <footer class="signin_footer">
        <div class="col-sm-2"><img src="images/assets/L&T-logo.png" class="img-responsive" /></div>
        <div class="col-sm-2"><img src="images/assets/L&T_Financial-logo.png" class="img-responsive" /></div>
    </footer>-->
</div>
<script>
    document.getElementById("copyrightmsg").innerHTML = "<p>&copy;  " + new Date().getFullYear()
            + " L&T Financial Services. All rights reserved.</p>";
</script>
