<style>
    .collapse.in {margin:0px !important;}
    .panel-body {margin:5px !important; padding:0px !important;}
    table {border:1px soild #ccc}
</style>
<div class="page page-table" data-ng-init="preloadDocuments()" data-ng-controller="FaqCtrl">

    <!-- DashBoard Table Starts-->
    <!--<strong data-ng-hide="profileId == 1 "><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
    <section class="panel panel-default table-dynamic table-responsive" >
        <div class="panel-heading" style="height:40px;">
        <div class="col-sm-12 col-xs-12 no_padding">
        <div class="col-sm-6 col-xs-6 no_padding" style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;">
            <strong><span class="glyphicon glyphicon-th"></span> Frequently Asked Questions</strong>
        </div>
        
        </div>
        </div>

        <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success">
                        <!-- <div class="document col-md-12" id=""> -->
                        <form autocomplete="off"  name="form">

                            <div class="form-group">
            <div ng-repeat="documentDataObj in documentDataArr" ng-init="sectionIndex = $index"  ng-click="one($index)"> 
                <accordion-group close-others="oneAtATime"  is-Open="{{($index == accor)}}"  heading="{{documentDataObj.question}}">
                                        
                                            <div>
                                                <table cellpadding="5" cellspacing  ="5" border="1" width="100%" style="text-align:left;" >
                                                    <tr >
                                                        
                                                    </tr>
                                                    <tr ng-repeat="lstAnswer in documentDataObj.fAQAnsVO" style="border-top:1px solid #ccc; margin: 10px 0px">

                                                        <td class="col-sm-2"><label><strong>{{lstAnswer.answer}}</strong></label> </td>
                                                       
                                                    </tr>

                                                </table>

                                            </div>
                                       
                                </accordion-group>
                </div>
        </div>
                    </form>
                    </accordion>            
    </section>
    
    <!-- DashBoard Table Ends-->
 </div>
  
  