<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<div class="modal-content" ng-init="isSubmitDisabled=false">
  <div class="modal-header ng-scope">
    <h3>{{ message }}</h3>
  </div>
  <div class="modal-footer ng-scope">
    <button ng-click="save();isSubmitDisabled=true" class="btn btn-primary" data-ng-disabled="isSubmitDisabled">YES</button>
    <button ng-click="cancel()" class="btn btn-warning">NO</button>
  </div>
</div>
</body>
</html>
