<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<div class="modal-content">
    <button ng-click="cancel()" class="btn btn-danger otp_close"><i class="fa fa-times"></i></button>
  <div class="modal-header ng-scope">
      <pre style="font-size: large; background-color: white; border-color: white">{{ message }}</pre>
  </div>
  <div class="modal-footer ng-scope">
    <button ng-click="cancel()" class="btn btn-primary">OK</button>
  </div>
</div>
</body>
</html>
