<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>E-KYC</title>

</head>

<body>
<div class="modal-content">
    <div class="page">
      <section class="panel panel-default" ng-show="isFormShowfirst">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>E-KYC</strong> <span style="float:right; text-transform:capitalize"><b class="red">*</b> Mandatory Fields</span> </div>
        <div class="panel-body">
            <div id="form_applicant_details" class="applicant_details col-md-12" data-ng-init="preLoad()">
                <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" name="eKYCDetailsValid">
                    <div class="form-group">
                                    <label class="col-sm-4"><span class="error" ng-show="eKYCDetailsValid.eKYCuniquenumber.$error.required"> * </span>Aadhaar Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" data-ng-model="eKYCuniquenumber" name="uniquenumber" class="form-control" maxlength="12" required>
                                    </div>  
                                    </div>
<!--                    <div class="form-group">
                            <label class="col-sm-4" for="label-focus"><span class="error" ng-show="eKYCDetailsValid.firstname.$error.required"> * </span>First Name</label>
                            <div class="col-sm-8">
                                <input style="text-transform: uppercase"  type="text"  class="form-control" name="firstname" maxlength="40" data-ng-model="eKYCfirstname" required="required"/>
                            </div>
                        </div>-->
<!--                    <div class="form-group">
                            <label class="col-sm-4" for="label-focus"><span class="error" ng-show="eKYCDetailsValid.lastname.$error.required"> * </span>Last Name</label>
                            <div class="col-sm-8">
                                <input style="text-transform: uppercase"  type="text"  class="form-control" name="lastname" maxlength="40" data-ng-model="eKYClastname" required="required" />
                            </div>
                        </div>-->
<!--                    <div class="form-group">
                            <label class="col-sm-4"><span class="error" ng-show="eKYCDetailsValid.dob.$error.required"> * </span>Date of Birth</label>
                            <div class="col-sm-8">
                                <div class="input-group ui-datepicker">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="date" data-ng-model="eKYCdob" 
                                           min="{{minDate| date:'yyyy-MM-dd'}}"
                                           max="{{getMaxDob() | date:'yyyy-MM-dd'}}"
                                           class="form-control" required>

                                                                                <input type="text" 
                                                                                       readonly="true"
                                                                                       class="form-control"
                                                                                       datepicker-popup="{{format}}"
                                                                                       data-ng-model="dob"
                                                                                       is-open="opened"
                                                                                       min-date="minDate"
                                                                                       max-date="maxDate"
                                                                                       show-button-bar="false"
                                                                                       datepicker-options="dateOptions" 
                                                                                       date-disabled="disabled(date, mode)"
                                                                                       ng-required="true" 
                                                                                       close-text="Close" required>
                                </div>
                            </div>
                        </div>-->
            <div class="col-sm-6 no_padding clearBtn align_right" style="padding-top:10px">

                                    <button class="btn btn-primary btn-success" type="button" ng-click="cheackValidation(eKYCuniquenumber)"> Verify</button>
                                    &nbsp;

                                    <button class="btn btn-warning" type="button" ng-click="cancel()"> Cancel</button>
                                    &nbsp;
                                </div>
                </form>
  </div>
            
  
    </div>
      </section>
        <section class="panel panel-default" ng-show="isFormShow">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>E-KYC Detail</strong> <span style="float:right; text-transform:capitalize"><b class="red">*</b> Mandatory Fields</span> </div>
        <div class="panel-body">
            <div id="form_applicant_details" class="applicant_details col-md-12">
                <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" name="eKYCDetailsValid">
                    <div class="form-group">
                                    <label class="col-sm-4">Aadhaar Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" readonly="true" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" data-ng-model="eKYCuniquenumber" name="uniquenumber" class="form-control" maxlength="12" required>
                                    </div>  
                        </div>
                    <div class="form-group">
                            <label class="col-sm-4" for="label-focus">Resident Name</label>
                            <div class="col-sm-8">
                                <input style="text-transform: uppercase" readonly="true" type="text"  class="form-control" name="firstname" maxlength="40" data-ng-model="name" required="required"/>
                            </div>
                        </div>
<!--                    <div class="form-group">
                            <label class="col-sm-4" for="label-focus">Date of Birth</label>
                            <div class="col-sm-8">
                                <input style="text-transform: uppercase" readonly="true" type="text"  class="form-control" name="lastname" maxlength="40" data-ng-model="dob" required="required" />
                                <input type="date" data-ng-model="dob" 
                                           class="form-control" required>
                            </div>
                        </div>-->
                    <div class="form-group">
                            <label class="col-sm-4" for="label-focus">Phone Number</label>
                            <div class="col-sm-8">
                                <input style="text-transform: uppercase" readonly="true" type="text"  class="form-control" name="lastname" maxlength="40" data-ng-model="phone" required="required" />
                            </div>
                        </div>
                    <div class="form-group">
                            <label class="col-sm-4"><span class="error" ng-show="eKYCDetailsValid.dob.$error.required"> * </span>Date of Birth</label>
                            <div class="col-sm-8">
                                <div class="input-group ui-datepicker">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									<input  type="text"
                                        style="text-transform: uppercase"
                                        maxlength="105"
                                        class="form-control"
                                        name="dob"
                                        placeholder="DD-MM-YYYY"
                                        value="{{dob | date:'dd-MM-yyyy'}}"
                                       readonly="true"
                                        >
                                    <!--<input type="date" data-ng-model="dob" readonly="true" class="form-control" required>-->
<!--                                           min="{{minDate| date:'yyyy-MM-dd'}}"
                                           max="{{getMaxDob() | date:'yyyy-MM-dd'}}"-->
                                           <!--class="form-control" required>-->

<!--                                                                                <input type="text" 
                                                                                       readonly="true"
                                                                                       class="form-control"
                                                                                       datepicker-popup="{{format}}"
                                                                                       data-ng-model="dob"
                                                                                       is-open="opened"
                                                                                       min-date="minDate"
                                                                                       max-date="maxDate"
                                                                                       show-button-bar="false"
                                                                                       datepicker-options="dateOptions" 
                                                                                       date-disabled="disabled(date, mode)"
                                                                                       ng-required="true" 
                                                                                       close-text="Close" required>-->
                                </div>
                            </div>
                        </div>
            <div class="col-sm-6 no_padding clearBtn align_right" style="padding-top:10px">

                                    <button class="btn btn-primary btn-success" type="button" ng-click="accept()"> Accept</button>
                                    &nbsp;
                                    
                                    <button class="btn btn-warning" type="button" ng-click="cancel_detail()"> Cancel</button>
                                    &nbsp;
                                </div>
                </form>
  </div>
            
  
    </div>
      </section>
        </div>
     </div>
  

</body>
</html>