<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>OTP</title>
</head>

<body>
<div class="modal-content" ng-init="isSubmitDisabled=false">
  <div class="modal-header ng-scope">
    <div ng-click="cancel()"></div>
    <button ng-click="cancel()" class="btn btn-danger otp_close"><i class="fa fa-times"></i></button>
    <div class="form-group">
      <div class="sourcing col-md-12">
          <h1 class="heading_array">OTP is not verified for -</h1>
          <li ng-repeat="item in otpNotVerifiedData">
              <ul class="heading_array">{{item.fName}}</ul>
          </li>
          <br>
<!--          <h1 class="heading_array">Do you want to proceed?</h1>
          </br>-->
      </div>
    </div>
  </div>
  <div class="modal-footer ng-scope">
<!--    <button class="btn btn-primary" type="button" data-ng-click="verifyHtml();isSubmitDisabled=true" data-ng-disabled="isSubmitDisabled"><i class="fa fa-thumbs-up"></i>Yes</button>
    &nbsp;-->
    <button class="btn btn-primary" type="button"  data-ng-click="openOtp(); closeHtml();"><i class="fa fa-check-square-o"></i> Verify OTP</button>
  </div>
</div>
</body>
</html>
