<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<script type="text/javascript">
    var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
  backgroundColor: 'rgb(255, 255, 255)',
  penColor: 'rgb(0, 0, 0)',
});
//var saveButton = document.getElementById('save');
//var cancelButton = document.getElementById('clear');
//
//
//function dataURItoBlob(dataURI) {
//
//            // convert base64/URLEncoded data component to raw binary data held in a string
//            var byteString;
//            if (dataURI.split(',')[0].indexOf('base64') >= 0)
//                byteString = atob(dataURI.split(',')[1]);
//            else
//                byteString = unescape(dataURI.split(',')[1]);
//
//            // separate out the mime component
//            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
//
//            // write the bytes of the string to a typed array
//            var ia = new Uint8Array(byteString.length);
//            for (var i = 0; i < byteString.length; i++) {
//                ia[i] = byteString.charCodeAt(i);
//            }
//
//            return new Blob([ia], {type:mimeString});
//        }
//saveButton.addEventListener('click', function (event) {
//    if(signaturePad.isEmpty())
//    {showRequiredMsg=true}
//    else{
//  var data = signaturePad.toDataURL('image/png');
//  var blob = dataURItoBlob(data);
////  window.navigator.msSaveOrOpenBlob(blob, 'signature.jpeg');
//var file = new File([blob], 'signature.jpeg', {type: "'image/jpeg"});
// console.log(file);
//    }
////  window.open();
//});
//
//cancelButton.addEventListener('click', function (event) {
//  signaturePad.clear();
//});
</script>
</head>

<body>
<div class="modal-content" data-ng-init="preLoad()">
  <div class="modal-header ng-scope">
      <h3>Signature</h3>
   <canvas class="modal-content" ng-show="isSignPadDisabled" id="signature-pad" ng-model="signaturepadd" style="border:1px solid #000000;" style="border-color: 10px" width=300 height=200></canvas>
  </div>
    <div class="modal-header ng-scope" ng-show="showRequiredMsg"><h5 class="red">{{ message }}</h5></div>
  <div class="modal-footer ng-scope">
<!--    <input type="file" class="btn btn-primary" ng-show="fileSign" data-ng-model="File" ng-click="uploadFile=true;liveSign=false" accept="image/*;capture=camera" name="file"
                                                                                 title="Choose File" ngf-max-size="2MB" data-ui-file-upload >-->
<div>
<!--<div ng-show="isChooseDisabled" style="float:left"><input type="file" ngf-select id="file" class="btn btn-primary" data-ng-model="sfile" ng-click="isUploadDisabled=true;isLiveSignDisabled=false;isBackDisabled=true" accept="image/*;capture=camera" name="file"-->
                                                                                    <!--title="Choose" ngf-max-size="2MB" data-ui-file-upload ></div>-->   
<!--<div style="float:center"> <button id="save" ng-show="isLiveSignDisabled" class="btn btn-primary" ng-click="isLiveSignDisabled=false;isSaveDisabled=true;isUploadDisabled=false;isClearDisabled=true;isBackDisabled=true;isSignPadDisabled=true;isChooseDisabled=false;">Live Signature</button>-->
    <button id="save" ng-show="isUploadDisabled" class="btn btn-primary btn-success" ng-click="uploadSign()">Upload</button>
    <button id="save" ng-show="isSaveDisabled" class="btn btn-primary btn-success" ng-click="save()">Save</button>
    <button id="clear" ng-show="isClearDisabled" class="btn btn-primary" ng-click="clear()">Clear</button>
    <!--<button id="back" ng-show="isBackDisabled" class="btn btn-warning" ng-click="preLoad()">Back</button>-->
    <button id="cancel" class="btn btn-warning" style="float:right" ng-click="cancel()">Cancel</button>
    </div>
    </div>
  </div>
</div>
</body>
</html>